@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local("Spoqa Han Sans Neo Bold"),
  url(/fonts/SpoqaHanSansNeo-Bold.woff2) format("woff2"),
  url(/fonts/SpoqaHanSansNeo-Bold.woff) format("woff");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: local("Spoqa Han Sans Neo Medium"),
  url(/fonts/SpoqaHanSansNeo-Medium.woff2) format("woff2"),
  url(/fonts/SpoqaHanSansNeo-Medium.woff) format("woff");
}