html {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: var(--colors-elevation0);
  color: var(--colors-text100);
}
body,
#__next {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: inherit;
  color: inherit;
  flex: 1;
  font-family: var(--fonts-sans);
}
